@model PersonalFiles.Models.LoginViewModel

@{
    ViewData["Title"] = "Login";
}

<div class="container">
    <div class="card card-container">
        <img id="profile-img" class="profile-img-card" src="~/images/avatar.png" />
        <p id="profile-name" class="profile-name-card"></p>
            @using (Html.BeginForm("Login", "Authorization", FormMethod.Post, new { @class = "form-signin" }))
            {
                @Html.AntiForgeryToken()
                <span id="reauth-email" class="reauth-email"></span>
                <hr />
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <div class="form-group">
                    @Html.TextBoxFor(m => m.UserName, new { placeholder = "Имя пользователя", @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.UserName, "", new { @class = "text-danger" })
                </div>
                <div class="form-group">
                    @Html.PasswordFor(m => m.Password, new { placeholder = "Пароль", @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                </div>
                <div class="form-group">
                    @Html.CheckBoxFor(m => m.RememberMe)
                    @Html.LabelFor(m => m.RememberMe)
                </div>
                <button class="btn btn-lg btn-primary btn-block btn-signin" type="submit">Войти</button>
            }
    </div>
</div>
