@model IEnumerable<UserViewModel>

@{
    ViewData["Title"] = "Users";
}

<div class="container">
    <div class="row">
        <hr />
        <table class="table">
            @foreach (var user in Model)
            {
                <tr>
                    <td>@user.Id</td>
                    <td>@user.UserName</td>
                    <td>@user.RoleName</td>
                    <td>@Html.ActionLink("Изменить", "EditUser", "User", new { userId = user.Id }, new { @class = "btn btn-primary" })</td>
                    <td>@Html.ActionLink("Удалить", "", "", new { userId = user.Id }, new {  @class = "btn btn-danger"})</td>
                </tr>
            }
        </table>
    </div>
</div>

