@model CreateProfileViewModel

@{
    ViewData["Title"] = "CreateProfile";
}

<link rel="stylesheet" href="~/css/datepicker.css" />

<div class="container emp-profile">
    @using (Html.BeginForm("CreateProfile", "Person", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        @Html.AntiForgeryToken()

        <div class="row">
            <div class="col-md-4">
                <div class="profile-img">
                    <img src="~/images/avatar.png" alt="" id="profileImage" />
                    <div class="file btn btn-lg btn-primary">
                        Сменить фото
                        <input id="imgTnp" asp-for="Image" type="file" name="profileImage" onchange="loadFile(event)" />
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="profile-head">
                    <ul class="nav nav-tabs" id="myTab" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="true">Инофрмация</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="passport-tab" data-toggle="tab" href="#passport" role="tab" aria-controls="passport" aria-selected="false">Паспорт</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="education-tab" data-toggle="tab" href="#education" role="tab" aria-controls="education" aria-selected="false">Образование</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="insurance-tab" data-toggle="tab" href="#insurance" role="tab" aria-controls="insurance" aria-selected="false">Страховка</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="post-tab" data-toggle="tab" href="#post" role="tab" aria-controls="post" aria-selected="false">Должность</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-md-2">
                @Html.ActionLink("Отменить", "Persons", "Person", null, new { @class = "btn btn-danger" })
                <input type="submit" class="btn btn-success" value="Сохранить" />
            </div>
        </div>
        <div class="row">
            <div class="col-md-4"></div>
            <div class="col-md-8">
                <div class="tab-content profile-tab" id="myTabContent">
                    <div class="tab-pane fade active" id="profile" role="tabpanel" aria-labelledby="profile-tab">
                        <div class="row">
                            <div class="col-md-6">
                                @Html.LabelFor(m => m.LastName)
                            </div>
                            <div class="col-md-6 form-group">
                                <p>
                                    @Html.TextBoxFor(m => m.LastName, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(m => m.LastName, "", new { @class = "text-danger" })
                                </p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                @Html.LabelFor(m => m.FirstName)
                            </div>
                            <div class="col-md-6 form-group">
                                <p>
                                    @Html.TextBoxFor(m => m.FirstName, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(m => m.FirstName, "", new { @class = "text-danger" })
                                </p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                @Html.LabelFor(m => m.MiddleName)
                            </div>
                            <div class="col-md-6">
                                <p>@Html.TextBoxFor(m => m.MiddleName, new { @class = "form-control" })</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                @Html.LabelFor(m => m.Gender)
                            </div>
                            <div class="col-md-6">
                                <p>@Html.DropDownListFor(m => m.Gender, new SelectList(Enum.GetValues(typeof(PersonalFiles.Gender))), new { @class = "form-control" })</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                @Html.LabelFor(m => m.INN)
                            </div>
                            <div class="col-md-6 form-group">
                                <p>
                                    @Html.TextBoxFor(m => m.INN, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(m => m.INN, "", new { @class = "text-danger" })
                                </p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                @Html.LabelFor(m => m.SNILS)
                            </div>
                            <div class="col-md-6 form-group">
                                <p>
                                    @Html.TextBoxFor(m => m.SNILS, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(m => m.SNILS, "", new { @class = "text-danger" })
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="passport" role="tabpanel" aria-labelledby="passport-tab">
                        <div class="row">
                            <div class="col-md-6">
                                @Html.LabelFor(m => m.PassportNumber)
                            </div>
                            <div class="col-md-6 form-group">
                                <p>
                                    @Html.TextBoxFor(m => m.PassportNumber, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(m => m.FirstName, "", new { @class = "text-danger" })
                                </p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                @Html.LabelFor(m => m.PassportSeries)
                            </div>
                            <div class="col-md-6">
                                <p>@Html.TextBoxFor(m => m.PassportSeries, new { @class = "form-control" })</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                @Html.LabelFor(m => m.PassportGivenBy)
                            </div>
                            <div class="col-md-6">
                                <p>@Html.TextBoxFor(m => m.PassportGivenBy, new { @class = "form-control" })</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                @Html.LabelFor(m => m.PassportDateOfGive)
                            </div>
                            <div class="col-md-6">
                                <div class="input-group date datepicker-inline">
                                        @Html.TextBoxFor(m => m.PassportDateOfGive, new { @class = "form-control" })
                                    <div class="input-group-addon glyphicon glyphicon-th"></div>
                                </div>
                            </div>
                         </div>
                        <div class="row">
                            <div class="col-md-6">
                                @Html.LabelFor(m => m.PassportAddress)
                            </div>
                            <div class="col-md-6">
                                <p>@Html.TextBoxFor(m => m.PassportAddress, new { @class = "form-control" })</p>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="education" role="tabpanel" aria-labelledby="education-tab">
                        <div class="row">
                            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                @Html.LabelFor(m => m.Education.File)
                            </div>
                            <div class="col-md-6">
                                <div class="profile-img">
                                    <img src="" id="educationImage" />
                                </div>
                                <input type="file" asp-for="Education.File" name="educationName" onchange="loadEducationFile(event)" class="btn btn-success" />
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                @Html.LabelFor(m => m.Education.EndDate)
                            </div>
                            <div class="col-md-6">
                                <div class="input-group date datepicker-inline">
                                    @Html.TextBoxFor(m => m.Education.EndDate, null, new { @class = "form-control" })
                                    <div class="input-group-addon glyphicon glyphicon-th"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="insurance" role="tabpanel" aria-labelledby="insrance-tab">
                        <div class="row">
                            <div class="col-md-6">
                                @Html.LabelFor(m => m.InsuranceNumber)
                            </div>
                            <div class="col-md-6">
                                <p>@Html.TextBoxFor(m => m.InsuranceNumber, new { @class = "form-control" })</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                @Html.LabelFor(m => m.InsuranceCompany)
                            </div>
                            <div class="col-md-6">
                                <p>@Html.TextBoxFor(m => m.InsuranceCompany, new { @class = "form-control" })</p>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="post" role="tabpanel" aria-labelledby="post-tab">
                        <div class="row">
                            <div class="col-md-6">
                                @Html.LabelFor(m => m.PersonsPost.Name)
                            </div>
                            <div class="col-md-6">
                                @Html.DropDownListFor(m => m.SelectPost.PostId, new SelectList(Model.SelectPost.Posts, "Id", "Name", Model.SelectPost.PostId), new { @class = "form-control" })
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
</div>

<script src="~/js/datepicker.js"></script>

